{% extends 'header.html' %}
{% block title %}
<title>Kategoriyalar</title>
{% endblock %}
{% block direction %}
    <h4 style="margin-top: 10px" class="fw-bold py-3">Kategoriyalar</h4>
{% endblock %}
{% block content %}
    {% load static %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-header">Kategoriyalar ro'yxati</h5>
                <button
                        type="button"
                        class="btn rounded-pill btn-primary positioned-button"
                        data-bs-toggle="modal"
                        data-bs-target="#basicModal">Yangi
                </button>
            </div>
            <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form method="post">{% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Yangi kategoriya</h5>
                                <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                ></button>
                            </div>
                            <input type="hidden" name="action" value="new">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameBasic" class="form-label">Kategoriya nomi</label>
                                        <input type="text" id="nameBasic" name="title" class="form-control"
                                               placeholder="Asosiy kategoriya" required autofocus/>
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <div class="input-group input-group-merge">
                                        <label class="form-check-label"
                                               for="is_active">Bajarish talabi: </label>
                                        <div style="margin-left: 10px"
                                             class="form-check form-switch mb-2">
                                            <input name="is_done_required"
                                                   id="is_active"
                                                   class="form-check-input"
                                                   type="checkbox" checked>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">
                                    Yopish
                                </button>
                                <button type="submit"
                                        class="btn btn-primary">Yaratish
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="min-height: 170px" class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Nomi</th>
                        <th>Soni</th>
                        <th>Tahrirlash</th>
                    </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for c in categories %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="cursor: pointer"
                                data-bs-toggle="modal"
                                data-bs-target="#ModalEdit{{ c.id }}">
                                <i class="menu-icon tf-icons bx bx-category"></i><strong>{{ c.title }}</strong>
                            </td>
                            <td>{{ c.file_set.count }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="modal"
                                            data-bs-target="#ModalEdit{{ c.id }}">
                                        <i class="bx bx-edit-alt me-1"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="ModalEdit{{ c.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form method="post">{% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">
                                                Kategoriyani tahrirlash</h5>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                        <input type="hidden" name="action" value="alter">
                                        <input type="hidden" name="cid" value="{{ c.id }}">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <label for="nameBasic" class="form-label">
                                                        Kategoriya nomi</label>
                                                    <input type="text" id="nameBasic" name="title"
                                                           class="form-control" value="{{ c.title }}"
                                                           required autofocus/>
                                                </div>
                                                <div class="row g-2">
                                                    <div class="col mb-3">
                                                        <div class="input-group input-group-merge">
                                                            <label class="form-check-label"
                                                                   for="is_active">Faol: </label>
                                                            <div style="margin-left: 10px"
                                                                 class="form-check form-switch mb-2">
                                                                <input name="is_active"
                                                                       id="is_active"
                                                                       class="form-check-input"
                                                                       type="checkbox"
                                                                        {% if c.is_active %} checked {% endif %}
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col mb-3">
                                                        <div class="input-group input-group-merge">
                                                            <label class="form-check-label"
                                                                   for="is_done_required">Bajarish talabi: </label>
                                                            <div style="margin-left: 10px"
                                                                 class="form-check form-switch mb-2">
                                                                <input name="is_done_required"
                                                                       id="is_done_required"
                                                                       class="form-check-input"
                                                                       type="checkbox"
                                                                        {% if c.is_done_required %} checked {% endif %}
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="modal">
                                                Yopish
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary">O'zgartish
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->
{% endblock %}
