{% extends 'header.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" xmlns="http://www.w3.org/1999/html">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{{ user.username }} /</span>
            Fayllar</h4>

        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Basic with Icons</h5>
            </div>
            <div class="card-body">
                <form method="postff"> {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label" for="file">Fayl:</label>
                        <div class="input-group input-group-merge">
                                        <span id="file2" class="input-group-text">
                                            <i class="bx bxs-file"></i>
                                        </span>
                            <a
                                    type="file"
                                    class="form-control"
                                    id="file"
                                    href="/file">{{ file.title }}</a>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-3">
                            <label class="form-label" for="basic-icon-default-company">Kategoriya</label>
                            <div class="input-group input-group-merge">
                                            <span id="basic-icon-default-company2" class="input-group-text">
                                                <i class="bx bx-category"></i>
                                            </span>
                                <select class="input-group-text" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="basic-icon-default-email">Kimga:</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-user-check"></i></span>
                                <select class="input-group-text" name="to_user">
                                    {% for user in users %}
                                        <option class="dropdown-menu show "
                                                value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-message">Izoh</label>
                        <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-message2" class="input-group-text">
                                            <i class="bx bx-comment"></i>
                                        </span>
                            <textarea
                                    id="basic-icon-default-message"
                                    name="desc"
                                    class="form-control"
                                    placeholder="Ushbu fayl...."
                                    aria-label="Ushbu fayl...."
                                    aria-describedby="basic-icon-default-message2">
                                        </textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Yuborish</button>
                </form>
            </div>                    <!--/ Basic Bootstrap Table -->
        </div>
    </div>
    <!-- / Content -->
{% endblock %}