{% extends 'header.html' %}
{% load static %}
{% block content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">{{ user.username }} /</span>
            Fayllar</h4>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">Fayllar ro'yxati</h5>
            <a href="/upload_file">
                <button
                        type="button"
                        class="btn rounded-pill btn-primary positioned-button"
                >Yangi
                </button>
            </a>
            <div style="min-height: 170px" class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nomi</th>
                        <th>Izoh</th>
                        <th>Yuboruvchi</th>
                        <th>Qabul qiluvchi</th>
                        <th>Yaratilgan vaqti</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    `<tbody class="table-border-bottom-0">
                    {% for file in files %}
                        <tr>
                            <td><a href="{{ file.id }}">
                                <i class="menu-icon tf-icons bx bxs-network-chart"></i><strong>{{ file.file.name }}</strong>
                            </a></td>
                            <td>{{ file.description }}</td>
                            <td>{{ file.user.username }}</td>
                            <td>{{ file.to_user.username }}</td>
                            <td>{{ file.uploaded_date }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="/file/edit/{{ file.id }}" class="dropdown-item">
                                            <i class="bx bx-edit-alt me-1"></i> Tahrirlash
                                        </a>
                                        <a class="dropdown-item" href="/edit/delfile/{{ file.id }}"
                                        ><i class="bx bx-trash me-1"></i> O'chirish</a
                                        >
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
    <!-- / Content -->
{% endblock %}