{% extends 'header.html' %}
{% load static %}
{% block title %}
<title>Fayl ma'lumotlari</title>
{% endblock %}
{% block direction %}
    <h4 style="margin-top: 10px" class="fw-bold py-3"><span class="text-muted fw-light">{{ user.full_name }} / </span>Fayl haqida</h4>
{% endblock %}
{% block content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y" xmlns="http://www.w3.org/1999/html">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Fayl ma'lumotlari</h5>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col mb-3">
                        <label class="form-label" for="exampleFormControlReadOnlyInput basic-icon-default-email">Kategoriya:</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-user-check"></i></span>
                            <input class="form-control" id="exampleFormControlReadOnlyInput1" type="text"
                                   value="  {{ file.category.title }}" readonly>
                        </div>
                    </div>
                    <div class="col mb-3">
                        {% if file.to_user == user %}
                            <label class="form-label"
                                   for="exampleFormControlReadOnlyInput basic-icon-default-email">Kimdan:</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-user-check"></i></span>
                                <input class="form-control" id="exampleFormControlReadOnlyInput1" type="text"
                                       value="  {{ file.user.full_name }}" readonly>
                            </div>
                        {% elif file.user == user %}
                            <label class="form-label"
                                   for="exampleFormControlReadOnlyInput basic-icon-default-email">Kimga:</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-user-check"></i></span>
                                <input class="form-control" id="exampleFormControlReadOnlyInput1" type="text"
                                       value="  {{ file.to_user.full_name }}" readonly>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="exampleFormControlReadOnlyInput1">Izoh</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-message2" class="input-group-text">
                            <i class="bx bx-comment"></i>
                        </span>
                        <textarea
                                id="basic-icon-default-message"
                                name="desc"
                                class="form-control"
                                value="Ushbu fayl...."
                                aria-label="Ushbu fayl...."
                                aria-describedby="basic-icon-default-message2"
                                readonly>  {{ file.description }}</textarea>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="file">Fayl:</label>
                    <div class="input-group input-group-merge">
                                        <span id="file2" class="input-group-text">
                                            <i class="bx bxs-file"></i>
                                        </span>
                        <a type="file"
                           class="form-control"
                           id="file"
                           href="{{ file.file.url }}" download="{{ file.file.name }}"
                           aria-readonly="true">{{ file.file }}</a>
                    </div>
                </div>
            </div>
            <!--/ Basic Bootstrap Table -->
            <!--Second form -->
            {% if file.category.is_done_required %}
            <div class="card-body">
                <form method="post"> {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="basic-icon-default-message">Izoh</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-message2" class="input-group-text">
                                <i class="bx bx-comment"></i>
                            </span>
                            <textarea
                                    id="basic-icon-default-message"
                                    name="desc" required
                                    class="form-control"
                                    placeholder="Izohingizni kiritng... "
                                    aria-label="Izohingizni kiritng..."
                                    aria-describedby="basic-icon-default-message2"
                                    {% if recieved.file.to_user != request.user %} disabled {% endif %}>{% if recieved.comment %} {{ recieved.comment }} {% endif %}</textarea>
                        </div>
                    </div>
                    {% if file.to_user == user %}
                        <button type="submit" class="btn btn-primary">Yuborish</button>
                    {% endif %}
                </form>
            </div>
            {% endif %}
            <!--/Second form -->
        </div>
    </div>
    <!-- / Content -->
{% endblock %}