{% extends 'header.html' %}
{% load static %}
{% block title %}
    <title>Profil</title>
{% endblock %}
{% block direction %}
    <h4 style="margin-top: 10px" class="fw-bold py-3"><span class="text-muted fw-light">{{ user.full_name }} / </span>Fayl
        haqida</h4>
{% endblock %}
{% block content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i
                                class="bx bx-user me-1"></i> Account</a>
                    </li>
                </ul>
                <div class="card mb-4">
                    <form id="formAccountSettings" enctype="multipart/form-data"
                          method="POST">{% csrf_token %}
                        <h5 class="card-header">Profil ma'lumotlari</h5>
                        <!-- Account -->
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img
                                        src="{{ user.picture.url }}"
                                        alt="user-avatar"
                                        class="d-block rounded"
                                        height="100"
                                        width="100"
                                        id="uploadedAvatar"
                                />

                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Yangi rasm yuklash</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input
                                                type="file"
                                                id="upload"
                                                class="account-file-input"
                                                hidden
                                                name="photo"
                                                accept="image/png, image/jpeg"
                                        />
                                    </label>
                                    <button type="button"
                                            class="btn btn-outline-secondary account-image-reset mb-4">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Ortga</span>
                                    </button>

                                    <p class="text-muted mb-0">Ruxsat etilgan JPG, GIF yoki PNG. Max hajm 800K</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0"/>
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Ism</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="firstName"
                                            name="firstName"
                                            value="{{ user.first_name }}"
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Familiya</label>
                                    <input class="form-control" type="text" name="lastName" id="lastName"
                                           value="{{ user.last_name }}"/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Username</label>
                                    <input class="form-control" type="text" name="lastName" id="lastName"
                                           value="{{ user.username }}"/>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="email"
                                            name="email"
                                            value="{{ user.email }}"
                                            placeholder="example@mail.com"
                                    />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Telefon raqam </label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">UZ</span>
                                        <input
                                                type="text"
                                                id="phoneNumber"
                                                name="phoneNumber"
                                                class="form-control"
                                                placeholder="+998 12 345 67 89"
                                                value="{{ user.phone }}"
                                        />
                                    </div>
                                </div>
                                <div class="col mb-3">
                                    <label class="form-label" for="role">Lavozim </label>
                                    <div class="input-group input-group-merge">
                                        <select class="form-control" name="role" required>
                                            <option value="" disabled selected>Qabul qiluvchini tanlang</option>
                                            {% for roles in roles %}
                                                <option
                                                        value="{{ role.id }}">{{ role.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Saqlash</button>
                                <button type="reset" class="btn btn-outline-secondary">Bekor qilish</button>
                            </div>
                        </div>
                    </form>
                    <!-- /Account -->

                </div>
                {#                <div class="card">#}
                {#                    <h5 class="card-header">Delete Account</h5>#}
                {#                    <div class="card-body">#}
                {#                        <div class="mb-3 col-12 mb-0">#}
                {#                            <div class="alert alert-warning">#}
                {#                                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your#}
                {#                                    account?</h6>#}
                {#                                <p class="mb-0">Once you delete your account, there is no going back. Please#}
                {#                                    be certain.</p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <form id="formAccountDeactivation" onsubmit="return false">#}
                {#                            <div class="form-check mb-3">#}
                {#                                <input#}
                {#                                        class="form-check-input"#}
                {#                                        type="checkbox"#}
                {#                                        name="accountActivation"#}
                {#                                        id="accountActivation"#}
                {#                                />#}
                {#                                <label class="form-check-label" for="accountActivation"#}
                {#                                >I confirm my account deactivation</label#}
                {#                                >#}
                {#                            </div>#}
                {#                            <button type="submit" class="btn btn-danger deactivate-account">Deactivate#}
                {#                                Account#}
                {#                            </button>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <!-- / Content -->

{% endblock %}