<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for i in recfiles %}
    <br>
    <br>
        <h1>{{ i.id }}.File: {{ i.file }}</h1>
        <h1>Title: {{ i.title }}</h1>
        <h1>Category: {{ i.category }}</h1>
        <h1>Description: {{ i.description }}</h1>
        <h1>User: {{ i.user }}</h1>
        <h1>Comment:{{ i.comment }}</h1>
        <h1>is Read: {{ i.isRead }}</h1>
        <h1>is Complited: {{ i.isCompleted }}</h1>
    {% endfor %}
</body>
</html>